<h1 align="center">Welcome to <%= @user.username %>'s page</h1>
<div class="p-3 m-3 bg-light bg-gradient border rounded-3 row d-flex justify-content-center">
    <h5 align="center"> <%= @user.username.capitalize %> </h5>
    <div class="col-md-4 col-md-offset-4 center">
        <div align="center">
            <a href=<%= user_path(@user) %> ><img alt="abdo" align="center" class="rounded-circle" src="https://s.gravatar.com/avatar/e0489820739506b2c73f6e781a8527f6?s=80"></a>
        </div>
    </div>
    <h4 align="center"><%= @user.username %>'s articles</h4>
    <%= render 'shared/article', obj: @user.articles %>
    
</div>

<div class="centerPagy"> 
        <%== pagy_bootstrap_nav(@pagy) %>
    </div>